/* Code tidied up by ScrapBook */
Body {  }
.Normal {  }
H1 {  }
H2 {  }
H3 {  }
A:link {  }
A:visited {  }
A:hover {  }
A:active {  }
UL LI {  }
UL LI LI {  }
HR {  }
.globalheader { height: 36px; }
