/* ::::: https://cloud.typography.com/6498692/789684/css/fonts.css ::::: */

@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 200;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 200;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 300;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 300;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
/* ::::: https://s.yimg.com/ge/default/691231/pure-min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
.pure-button::-moz-focus-inner { padding: 0px; border: 0px none; }
.pure-button::-moz-focus-inner { padding: 0px; border: 0px none; }
.pure-form input:not([type]) { padding: 0.5em 0.6em; display: inline-block; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 3px rgb(221, 221, 221) inset; border-radius: 4px; box-sizing: border-box; }
.pure-form input:focus:not([type]) { outline: 0px none; border-color: rgb(18, 159, 234); }
.pure-form input[disabled]:not([type]) { cursor: not-allowed; background-color: rgb(234, 237, 237); color: rgb(202, 210, 211); }
.pure-form-stacked input:not([type]) { display: block; margin: 0.25em 0px; }
@media only screen and (max-width: 480px) {
	.pure-form input:not([type]), .pure-form input[type="text"], .pure-form input[type="password"], .pure-form input[type="email"], .pure-form input[type="url"], .pure-form input[type="date"], .pure-form input[type="month"], .pure-form input[type="time"], .pure-form input[type="datetime"], .pure-form input[type="datetime-local"], .pure-form input[type="week"], .pure-form input[type="number"], .pure-form input[type="search"], .pure-form input[type="tel"], .pure-form input[type="color"], .pure-form label { margin-bottom: 0.3em; display: block; }
	.pure-group input:not([type]), .pure-group input[type="text"], .pure-group input[type="password"], .pure-group input[type="email"], .pure-group input[type="url"], .pure-group input[type="date"], .pure-group input[type="month"], .pure-group input[type="time"], .pure-group input[type="datetime"], .pure-group input[type="datetime-local"], .pure-group input[type="week"], .pure-group input[type="number"], .pure-group input[type="search"], .pure-group input[type="tel"], .pure-group input[type="color"] { margin-bottom: 0px; }
}
.pure-menu-has-children > .pure-menu-link::after { padding-left: 0.5em; content: "▸"; font-size: small; }
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after { content: "▾"; }
.pure-table-striped tr:nth-child(2n-1) td { background-color: rgb(242, 242, 242); }
/* ::::: https://s.yimg.com/ge/default/691231/grids-responsive-min.css ::::: */

@media screen and (min-width: 35.5em) {
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
}
@media screen and (min-width: 80em) {
}
/* ::::: https://s.yimg.com/ge/myc/css/uh3_fuji_myc-min1.1.css ::::: */

#Stencil .Col1, #Stencil .UHCol1, #Stencil .Col2, #Stencil .UHCol2, #Stencil .Col3, #Stencil .UHCol3 { position: absolute; }
#Stencil #UH { z-index: 500; background-color: rgb(250, 250, 252); }
#Stencil .UHCol1, #Stencil .Col1, #Stencil.Sticky-on .Col1 .Sticky { width: 205px; }
#Stencil .UHCol2, #Stencil .Col2, #Stencil.Sticky-on .Col2 .Sticky { min-width: 980px; width: 100%; max-width: 1200px; border-left: 215px solid transparent; padding-right: 33.66%; }
#Stencil .UHCol3, #Stencil .Col3, #Stencil.Sticky-on .Col3 .Sticky { width: 33.66%; min-width: 330px; max-width: 404px; }
#Stencil #yucs-more b { margin-top: 2px ! important; }
#Stencil #yucs-more i { margin-top: 7px ! important; }
#Eyebrow { height: 24px ! important; }
@media screen and (max-width: 980px) {
	#Stencil .UHCol2, .Col2, #Stencil.Sticky-on .Col2 .Sticky { padding-right: 330px; }
	#Stencil .UHCol3, .Col3, #Stencil.Sticky-on .Col3 .Sticky { left: 650px; }
}
@media screen and (min-width: 1200px) {
	#Stencil .UHCol2, .Col2, #Stencil.Sticky-on .Col2 .Sticky { max-width: 1200px; padding-right: 290px; }
	#Stencil .UHCol3, #Stencil .Col3, #Stencil.Sticky-on .Col3 .Sticky { right: auto; left: 950px; }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
#Stencil #UH {  }
#Stencil .UHCol2, #Stencil .Col2 {  }
#Stencil .UHCol3, #Stencil .Col3, #Stencil.Sticky-on .Col3 .Sticky {  }
/* ::::: https://s.yimg.com/ge/myc/css/uh3_fuji_myc-min1.1.css ::::: */

#Stencil .Col1, #Stencil .UHCol1, #Stencil .Col2, #Stencil .UHCol2, #Stencil .Col3, #Stencil .UHCol3 { position: absolute; }
#Stencil #UH { z-index: 500; background-color: rgb(250, 250, 252); }
#Stencil .UHCol1, #Stencil .Col1, #Stencil.Sticky-on .Col1 .Sticky { width: 205px; }
#Stencil .UHCol2, #Stencil .Col2, #Stencil.Sticky-on .Col2 .Sticky { min-width: 980px; width: 100%; max-width: 1200px; border-left: 215px solid transparent; padding-right: 33.66%; }
#Stencil .UHCol3, #Stencil .Col3, #Stencil.Sticky-on .Col3 .Sticky { width: 33.66%; min-width: 330px; max-width: 404px; }
#Stencil #yucs-more b { margin-top: 2px ! important; }
#Stencil #yucs-more i { margin-top: 7px ! important; }
#Eyebrow { height: 24px ! important; }
@media screen and (max-width: 980px) {
	#Stencil .UHCol2, .Col2, #Stencil.Sticky-on .Col2 .Sticky { padding-right: 330px; }
	#Stencil .UHCol3, .Col3, #Stencil.Sticky-on .Col3 .Sticky { left: 650px; }
}
@media screen and (min-width: 1200px) {
	#Stencil .UHCol2, .Col2, #Stencil.Sticky-on .Col2 .Sticky { max-width: 1200px; padding-right: 290px; }
	#Stencil .UHCol3, #Stencil .Col3, #Stencil.Sticky-on .Col3 .Sticky { right: auto; left: 950px; }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
#Stencil #UH {  }
#Stencil .UHCol2, #Stencil .Col2 {  }
#Stencil .UHCol3, #Stencil .Col3, #Stencil.Sticky-on .Col3 .Sticky {  }
.Sticky-off #UH { position: relative ! important; }
#UH a { border: 0px none ! important; font-weight: 400 ! important; font-size: 13px ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; }
#yucs-profile .signin { display: inline-block; }
#yucs-mail_link_id b { height: 16px ! important; line-height: 10px ! important; }
#Stencil #yucs-more i { margin-top: 5px ! important; }
#Stencil #yucs-more b { margin-top: 0px ! important; }
/* ::::: https://s.yimg.com/zz/combo?kx/yucs/uh3s/atomic/88/css/atomic-min.css&kx/yucs/uh_common/meta/3/css/meta-min.css&kx/yucs/uh3s/uh/410/css/uh-gs-grid-min.css ::::: */

.MoreDropDown-Box, .MoreDropDown-on { box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2); }
#Eyebrow, .uhArrow { position: relative; }
.Lts\(n\), .uhFancyBox { letter-spacing: normal; }
#Eyebrow, .Ell, .Whs\(nw\) { white-space: nowrap; }
.Cf, .D\(ib\), .Ov\(a\), .Ov\(h\), .Row, .Zoom {  }
.yucs { font: 13px/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif; }
#Eyebrow #yucs-home-menu a, #Eyebrow #yucs-top-menu a, .HomeDropDown-on #yucs-home-link b, .HomeDropDown-on #yucs-home-link i, .MoreDropDown-on #yucs-more-link b, .MoreDropDown-on #yucs-more-link i, .yucs-trigger b { color: rgb(29, 29, 163) ! important; }
.yucs-trigger .Ycon { color: rgb(50, 0, 127) ! important; }
.yucs b { font-weight: 400; }
.yucs ul { list-style-type: none; }
.yucs table { border-collapse: collapse; }
.yucs td { vertical-align: top; }
#Eyebrow, #masterNav { background-color: rgb(45, 17, 82); }
.Bxsh\(ttsh\), .uhFancyBox { box-shadow: 0px 2px 4px rgba(34, 25, 25, 0.1); }
#Eyebrow a:link, #Eyebrow a:visited { color: rgb(255, 255, 255); }
a:link, a:visited { text-decoration: none; }
#masterNav ul { margin: 0.55em 0px; }
#Eyebrow { z-index: 3; }
#UHSearchProperty, #UHSearchWeb { padding: 0px 1.1em; }
.uhArrow::after, .uhArrow::before { content: ""; position: absolute; height: 0px; width: 0px; border-color: transparent; border-style: solid; border-width: 7px; }
.uhArrow.North::after, .uhArrow.North::before { left: 50%; margin-left: -7px; }
.uhArrow.North::before, .uhArrow.NorthEast::before, .uhArrow.NorthFarEast::before, .uhArrow.NorthFarWest::before, .uhArrow.NorthWest::before { bottom: 100%; border-top-width: 0px; border-bottom-color: rgb(217, 217, 217); }
.uhArrow.North::after, .uhArrow.NorthEast::after, .uhArrow.NorthFarEast::after, .uhArrow.NorthFarWest::after, .uhArrow.NorthWest::after { bottom: 100%; margin-bottom: -1px; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.uhArrow.NorthEast::after, .uhArrow.NorthEast::before { margin-left: -7px; left: 75%; }
.uhArrow.NorthFarEast::after, .uhArrow.NorthFarEast::before { margin-left: -7px; right: 2px; left: auto; }
.uhArrow.NorthWest::after, .uhArrow.NorthWest::before { margin-left: -7px; left: 25%; }
.uhArrow.NorthFarWest::after, .uhArrow.NorthFarWest::before { margin-left: -7px; left: 10px; }
.uhGridSpread::after { content: ""; display: inline-block; text-align: justify; width: 100%; }
.uhGridVCenter::before { content: ""; display: inline-block; vertical-align: middle; height: 100%; margin-left: -0.31em; }
.Bd\(ttbd\) { border: 1px solid rgb(217, 217, 217); }
.Bd\(0\) { border: 0px none; }
.Bdendc\(\#d9d9d9\) { border-right-color: rgb(217, 217, 217); }
.Bdbc\(\#d9d9d9\) { border-bottom-color: rgb(217, 217, 217); }
.Bdstartc\(\#d9d9d9\) { border-left-color: rgb(217, 217, 217); }
.Bdends\(s\) { border-right-style: solid; }
.Bdbs\(s\) { border-bottom-style: solid; }
.Bdstarts\(s\) { border-left-style: solid; }
.Bdw\(1px\) { border-width: 1px; }
.Bdendw\(1px\) { border-right-width: 1px; }
.Bdbw\(1px\) { border-bottom-width: 1px; }
.Bdstartw\(1px\) { border-left-width: 1px; }
.Bdrs\(3px\) { border-radius: 3px; }
.Bdrs\(0\)\! { border-radius: 0px ! important; }
.Bdrstend\(0\) { border-top-right-radius: 0px; }
.Bdrststart\(0\) { border-top-left-radius: 0px; }
.Bg\(\#fff\) { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.Bg\(\#2d1152\) { background: rgb(45, 17, 82) none repeat scroll 0% 0%; }
.Bgr\(rx\) { background-repeat: repeat-x; }
.Bdcl\(s\) { border-collapse: separate; }
.Bxz\(bb\), .Row { box-sizing: border-box; }
.Bxsh\(n\) { box-shadow: none; }
.Bxsh\(moresh\) { box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2); }
.Cl\(b\), .Row { clear: both; }
.C\(\#000\)\! { color: rgb(0, 0, 0) ! important; }
.C\(\#32007f\) { color: rgb(50, 0, 127); }
.C\(\#000\) { color: rgb(0, 0, 0); }
.C\(\#fff\), .MoreDropDown .MoreDropDown_C\(\#fff\) { color: rgb(255, 255, 255); }
.C\(\#fff\)\!, .yucs-trigger .yucs-trigger_C\(\#fff\)\! { color: rgb(255, 255, 255) ! important; }
.C\(\#1d1da3\)\!, .MoreDropDown-on .MoreDropDown-on_C\(\#1d1da3\)\! { color: rgb(29, 29, 163) ! important; }
.Cur\(p\) { cursor: pointer; }
.D\(b\) { display: block; }
.D\(ib\), .Row { display: inline-block; }
.D\(ib\) {  }
.D\(n\) { display: none; }
.Fl\(start\) { float: left; }
.Fl\(end\) { float: right; }
.Ff\(ss\)\! { font-family: Helvetica,Arial,sans-serif ! important; }
.Fw\(200\)\!, .ua-ff .ua-ff_Fw\(200\)\!, .ua-safari .ua-safari_Fw\(200\)\! { font-weight: 200 ! important; }
.Fw\(400\) { font-weight: 400; }
.Fz\(22px\) { font-size: 22px; }
.Fz\(18px\)\! { font-size: 18px ! important; }
.Fz\(15px\) { font-size: 15px; }
.Fz\(13px\) { font-size: 13px; }
.H\(34px\) { height: 34px; }
.H\(1px\)\!, .Hidden { height: 1px ! important; }
.H\(100\%\) { height: 100%; }
.H\(22px\) { height: 22px; }
.Lts\(-0\.31em\), .Lts\(\$ws\) { letter-spacing: -0.31em; }
.Lh\(1\) { line-height: 1; }
.Lh\(1\.4\) { line-height: 1.4; }
.Lh\(1\.7\), .NavLinks .NavLinks_Lh\(1\.7\) { line-height: 1.7; }
.Lh\(1\.5\) { line-height: 1.5; }
.Lh\(1\.25\) { line-height: 1.25; }
.M\(0\)\! { margin: 0px ! important; }
.M\(0\) { margin: 0px; }
.M\(-10px\) { margin: -10px; }
.Mx\(-10px\) { margin-left: -10px; margin-right: -10px; }
.Mstart\(-10px\)\!, .Mx\(-10px\)\! { margin-left: -10px ! important; }
.Mx\(-10px\)\! { margin-right: -10px ! important; }
.Mx\(a\)\! { margin-left: auto ! important; margin-right: auto ! important; }
.Mx\(a\) { margin-left: auto; margin-right: auto; }
.Mend\(6px\), .Mx\(6px\) { margin-right: 6px; }
.Mstart\(2px\), .Mx\(2px\) { margin-left: 2px; }
.Mx\(0\)\! { margin-left: 0px ! important; margin-right: 0px ! important; }
.Mt\(4px\), .My\(4px\) { margin-top: 4px; }
.Mt\(0\)\!, .My\(0\)\! { margin-top: 0px ! important; }
.Mb\(0\)\!, .My\(0\)\! { margin-bottom: 0px ! important; }
.My\(-10px\) { margin-top: -10px; margin-bottom: -10px; }
.My\(\.55em\) { margin-top: 0.55em; margin-bottom: 0.55em; }
.My\(6px\)\! { margin-top: 6px ! important; margin-bottom: 6px ! important; }
.Mt\(-1px\) { margin-top: -1px; }
.Mt\(10px\) { margin-top: 10px; }
.Mend\(7px\) { margin-right: 7px; }
.Mend\(20px\) { margin-right: 20px; }
.Mend\(-8px\) { margin-right: -8px; }
.Mend\(18px\) { margin-right: 18px; }
.Mend\(10px\)\! { margin-right: 10px ! important; }
.Mb\(12px\)\! { margin-bottom: 12px ! important; }
.Mstart\(-1px\) { margin-left: -1px; }
.Miw\(6em\) { min-width: 6em; }
.T\(0\) { top: 0px; }
.T\(100\%\) { top: 100%; }
.T\(-10px\) { top: -10px; }
.End\(0\) { right: 0px; }
.Start\(0\) { left: 0px; }
.Start\(-10px\) { left: -10px; }
.Op\(0\) { opacity: 0; }
.Ell, .Hidden, .Ov\(h\) { overflow: hidden; }
.P\(0\) { padding: 0px; }
.P\(10px\) { padding: 10px; }
.Hidden, .P\(0\)\! { padding: 0px ! important; }
.Pstart\(10px\), .Px\(10px\) { padding-left: 10px; }
.Pend\(10px\), .Px\(10px\) { padding-right: 10px; }
.Pend\(6px\), .Px\(6px\) { padding-right: 6px; }
.Pstart\(4px\), .Px\(4px\) { padding-left: 4px; }
.Pstart\(0\), .Px\(0\) { padding-left: 0px; }
.Pend\(0\), .Px\(0\) { padding-right: 0px; }
.Px\(10px\)\! { padding-left: 10px ! important; }
.Pend\(10px\)\!, .Px\(10px\)\! { padding-right: 10px ! important; }
.Pt\(8px\), .Py\(8px\) { padding-top: 8px; }
.Pb\(8px\), .Py\(8px\) { padding-bottom: 8px; }
.Pt\(10px\), .Py\(10px\) { padding-top: 10px; }
.Pb\(10px\), .Py\(10px\) { padding-bottom: 10px; }
.Pt\(6px\), .Py\(6px\) { padding-top: 6px; }
.Py\(6px\) { padding-bottom: 6px; }
.Py\(4px\)\! { padding-top: 4px ! important; }
.Pb\(4px\)\!, .Py\(4px\)\! { padding-bottom: 4px ! important; }
.Pt\(0\), .Py\(0\) { padding-top: 0px; }
.Pb\(0\), .Py\(0\) { padding-bottom: 0px; }
.Pstart\(14px\) { padding-left: 14px; }
.Pos\(r\) { position: relative; }
.Pos\(a\) { position: absolute; }
.Ta\(c\) { text-align: center; }
.Td\(n\)\! { text-decoration: none ! important; }
.Td\(n\) { text-decoration: none; }
.Ti\(-20em\) { text-indent: -20em; }
.Tren\(os\) { text-rendering: optimizespeed; }
.Va\(m\), .yucs .yucs_Va\(m\) { vertical-align: middle; }
.Row, .Va\(t\) { vertical-align: top; }
.W\(a\) { width: auto; }
.W\(a\)\! { width: auto ! important; }
.W\(137px\) { width: 137px; }
.Row, .W\(100\%\), .yucs .yucs_W\(100\%\) { width: 100%; }
.Hidden, .W\(1px\)\! { width: 1px ! important; }
.W\(10\%\) { width: 10%; }
.Z\(3\) { z-index: 3; }
.Z\(1\) { z-index: 1; }
.Z\(5\) { z-index: 5; }
.Z\(10\) { z-index: 10; }
.Cf::after, .Cf::before { content: " "; display: table; }
.Cf::after { clear: both; }
.Ell::after { content: "."; font-size: 0px; visibility: hidden; display: inline-block; overflow: hidden; height: 0px; width: 0px; }
.Hidden { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); border: 0px none ! important; }
.Row {  }
#yucs-meta { display: none; }
body, #UH { min-width: 960px; }
body { margin-top: 6.5em; background-repeat: no-repeat; background-position: 50% 0px; background-size: cover; }
#UH { height: 6.5em; background: transparent none repeat scroll 0px 0px; left: 0px; top: 0px; z-index: 10; position: relative; }
@media screen and (max-width: 960px) {
	#UH { position: absolute ! important; box-shadow: none ! important; border: medium none ! important; }
}
.Sticky-off #UH { position: absolute; }
#yucs-help_inner { width: auto ! important; }
#UHSearchBox { color: rgb(0, 0, 0); }
#masterNav #Eyebrow { z-index: 3; }
#Stencil.rtl .Arrow.NorthWest::after, #Stencil.rtl .Arrow.NorthWest::before { left: 25%; right: auto; margin-right: 0px; margin-left: -7px; }
#Stencil.rtl .Arrow.NorthFarWest::after, #Stencil.rtl .Arrow.NorthFarWest::before { left: 10px; right: auto; margin-right: 0px; margin-left: -7px; }
#Stencil.rtl .Arrow.NorthEast::after, #Stencil.rtl .Arrow.NorthEast::before { left: 75%; right: auto; margin-right: 0px; margin-left: -7px; }
#Stencil.rtl .Arrow.NorthFarEast::after, #Stencil.rtl .Arrow.NorthFarEast::before { left: 10px; right: auto; margin-right: 0px; margin-left: -7px; }
#Eyebrow .YconArrowDown { width: 15px; }
#yucs-satray { position: absolute; top: auto ! important; z-index: 1; }
/* ::::: https://cloud.typography.com/6498692/789684/css/fonts.css ::::: */

@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 200;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 200;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 300;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 300;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 400;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 500;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm A";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
@font-face {
	font-family: "Gotham SSm B";
	font-style: normal;
	font-weight: 700;
	src: url('undefined');
}
/* ::::: https://s.yimg.com/ge/ayc/dr/css/v1/styles.v5.1.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }
* { box-sizing: border-box; }
nav > .inner, main .main > .inner, footer .inner { max-width: 1260px; padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; }
nav > .inner ul, main .main > .inner ul, footer .inner ul { display: block; list-style: outside none none; margin: 0px; padding: 0px; }
nav > .inner ul li, main .main > .inner ul li, footer .inner ul li { display: block; list-style: outside none none; margin: 0px; padding: 0px; }
a:link, a:visited, a:active { text-decoration: none; color: rgb(115, 0, 255); transition: all 160ms ease-in-out 0s; }
a:hover { color: rgb(64, 0, 144); }
button, input[type="submit"], input[type="reset"], a.button { display: table; padding: 10px 20px; font-size: 13px; letter-spacing: 1.5px; text-align: center; background: rgb(64, 0, 144) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border: medium none; text-transform: uppercase; text-decoration: none; transition: all 160ms ease-in-out 0s; }
input[type="submit"]:hover, input[type="reset"]:hover, a.button:hover { background: rgb(115, 0, 255) none repeat scroll 0% 0%; }
h2.title { text-transform: uppercase; }
img { vertical-align: bottom; max-width: 100%; height: auto; }
body { font-family: "Gotham SSm A","Gotham SSm B",sans-serif; color: rgb(41, 44, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.site-main > .inner ul.tags { display: inline-block; list-style: outside none none; margin: 0px; padding: 0px; }
.site-main > .inner ul.tags li { display: inline-block; list-style: outside none none; margin: 0px; padding: 0px; }
.site-main > .inner ul.tags li { display: inline-block; text-transform: uppercase; }
.site-main > .inner ul.tags li::after { content: " •"; }
.site-main > .inner ul.tags li:last-child::after { content: ""; }
.site-main > .inner ul.tags.buttons li::after { content: ""; }
.item .media { position: relative; display: block; }
.item .media::after { content: " "; background-color: transparent; background-position: 0px 0px; background-size: cover; display: block; position: absolute; z-index: 20; width: 35px; height: 35px; bottom: 0px; left: 0px; }
.item.audience .media::after { background-image: url('solution-tag-audience-2x.jpg'); }
.item.gemini .media::after { background-image: url('gemini_icon.png'); }
.item.mobile .media::after { background-image: url('solution-tag-mobile-2x.jpg'); }
.item.native .media::after { background-image: url('solution-tag-native-2x.jpg'); }
.item.premium .media::after { background-image: url('solution-tag-premium-2x.jpg'); }
.item.programmatic .media::after { background-image: url('solution-tag-programmatic-2x.jpg'); }
.item.search .media::after { background-image: url('solution-tag-search-2x.jpg'); }
.item.video .media::after { background-image: url('solution-tag-video-2x.jpg'); }
.site-header .inner .masthead .inner .right-nav ul::before { content: " "; height: 0px; width: 0px; display: block; position: absolute; left: 3px; top: -2px; transform: translateY(-50%); border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid rgb(255, 255, 255); pointer-events: none; }
nav.site-nav { transition: background-color 140ms ease 0s; width: 100%; position: fixed; z-index: 40; left: 0px; top: 79px; }
nav.site-nav > .inner { display: flex; flex-flow: row wrap; align-items: center; justify-content: flex-start; padding: 20px 0px 15px; margin: 0px auto; width: 100%; max-width: 1200px; }
nav.site-nav > .inner .primary { list-style: outside none none; margin: 0px; padding: 0px; width: 100%; display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-start; }
nav.site-nav > .inner .primary li { display: block; list-style: outside none none; margin: 0px; padding: 0px; }
nav.site-nav > .inner .primary > li { vertical-align: top; position: relative; text-transform: uppercase; }
nav.site-nav > .inner .primary > li:hover .subnav { opacity: 1; visibility: visible; pointer-events: auto; }
nav.site-nav > .inner .primary > li:hover > a { color: rgb(255, 255, 255); background: rgb(45, 13, 83) none repeat scroll 0% 0%; }
nav.site-nav > .inner .primary > li:hover > a::after { content: ""; width: calc(100% - 30px); height: 2px; background: rgb(115, 0, 255) none repeat scroll 0% 0%; position: absolute; bottom: 0px; left: 15px; }
nav.site-nav > .inner .primary > li > a { display: block; padding: 10px 15px 15px; transition: none 0s ease 0s ; font-size: 13px; letter-spacing: 1.5px; color: rgb(255, 255, 255); }
nav.site-nav > .inner .primary > li.home a { display: block; height: 32px; width: 40px; padding: 8px 0px; background: transparent url('icon-house-2x.png') no-repeat scroll center center / 16px 16px; text-align: center; transition: background-color 140ms ease 0s; }
nav.site-nav > .inner .primary > li.home a::after { display: none; }
nav.site-nav > .inner .primary > li.home a img.purple { display: none; }
nav.site-nav > .inner .primary > li.home a img { width: 16px; height: 16px; opacity: 0; transition: opacity 140ms ease 0s; }
nav.site-nav > .inner .primary > li.home a:hover img { opacity: 1; }
nav.site-nav > .inner .primary > li.solutions .subnav { width: 300px; display: flex; flex-flow: row wrap; align-content: center; justify-content: space-between; }
nav.site-nav > .inner .primary > li.solutions .subnav li { width: 50%; }
nav.site-nav > .inner .primary > li.solutions .subnav li.mobile { order: 0; }
nav.site-nav > .inner .primary > li.solutions .subnav li.premium { order: 3; }
nav.site-nav > .inner .primary > li.solutions .subnav li.video { order: 2; }
nav.site-nav > .inner .primary > li.solutions .subnav li.programmatic { order: 8; }
nav.site-nav > .inner .primary > li.solutions .subnav li.native { order: 4; }
nav.site-nav > .inner .primary > li.solutions .subnav li.social { order: 5; }
nav.site-nav > .inner .primary > li.solutions .subnav li.search { order: 6; }
nav.site-nav > .inner .primary > li.contact { margin: 0px; }
nav.site-nav > .inner .primary > li.contact a { padding-bottom: 10px; }
nav.site-nav > .inner .primary > li.contact a:hover::after { display: none; }
nav.site-nav > .inner .primary .subnav { display: block; list-style: outside none none; margin: 0px; padding: 10px; background: rgb(45, 13, 83) none repeat scroll 0% 0%; width: auto; max-width: 300px; min-width: 140px; position: absolute; z-index: 20; top: 100%; left: 0px; opacity: 0; visibility: hidden; pointer-events: none; }
nav.site-nav > .inner .primary .subnav li { display: block; list-style: outside none none; margin: 0px; padding: 0px; }
nav.site-nav > .inner .primary .subnav li a, nav.site-nav > .inner .primary .subnav li span { display: block; padding: 5px; font-size: 13px; line-height: 16px; letter-spacing: 1.5px; }
nav.site-nav > .inner .primary .subnav li span { color: rgb(115, 0, 255); font-size: 10px; position: relative; }
nav.site-nav > .inner .primary .subnav li span::after { content: ""; width: 25px; height: 2px; background: rgb(115, 0, 255) none repeat scroll 0% 0%; position: absolute; right: 50px; top: 50%; margin-top: -1px; }
nav.site-nav > .inner .primary .subnav li a { color: rgb(255, 255, 255); font-size: 12px; }
nav.site-nav > .inner .primary .subnav li.polyvore a::after, nav.site-nav > .inner .primary .subnav li.tumblr a::after { transform: translateY(-2px); content: url('ext.png'); vertical-align: middle; display: inline-block; margin-left: 5px; }
nav.site-nav > .inner .button { padding-left: 12px; padding-right: 12px; }
.site-main { padding-top: 0px; }
.site-main > .inner { clear: both; }
.site-main > .inner::before, .site-main > .inner::after { content: " "; display: table; width: 100%; clear: both; }
.site-main > .inner .main-top > .inner, .site-main > .inner .main > .inner { max-width: 1240px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }
.site-main > .inner .main-top { margin-bottom: 40px; }
.site-footer { background: rgb(64, 0, 144) url('footer-pattern-2x.png') no-repeat scroll center center / 200% 100%; color: rgb(255, 255, 255); margin-top: 60px; text-transform: uppercase; }
.site-footer .inner { text-align: center; padding: 60px 0px 0px; max-width: none; }
.site-footer .inner .newsletter { padding-left: 15px; padding-right: 15px; max-width: 300px; text-align: left; margin-left: auto; margin-right: auto; }
.site-footer .inner .newsletter h2 { font-weight: 500; line-height: 1.5; letter-spacing: 1.5px; }
.site-footer .inner ul { display: inline-block; list-style: outside none none; margin: 80px 0px 0px; width: 100%; background: rgb(45, 13, 83) none repeat scroll 0% 0%; padding: 15px; }
.site-footer .inner ul li { display: inline-block; list-style: outside none none; margin: 0px; padding: 0px; }
.site-footer .inner ul li { font-size: 12px; padding: 0px 10px; text-transform: uppercase; }
.site-footer .inner ul li a { color: rgb(255, 255, 255); }
section.contact > .inner form .item.select::after, aside.contact > .inner form .item.select::after { content: " "; height: 0px; width: 0px; display: block; position: absolute; right: 25px; top: 66%; transform: translateY(-50%); border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(41, 44, 51); pointer-events: none; }
section.grid > .inner .filters form .filter::after { content: " "; height: 0px; width: 0px; display: block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(255, 255, 255); pointer-events: none; }
section.grid > .inner > ul { display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: space-between; }
section.grid > .inner > ul > li { width: 100%; margin-bottom: 45px; }
section.grid > .inner > ul > li .media { margin-bottom: 20px; }
section.grid > .inner > ul > li img { width: 100%; }
section.grid > .inner > ul > li p { margin: 10px 0px 0px; }
section.grid > .inner > ul > li .tags li { color: rgb(115, 0, 255); font-size: 12px; font-weight: 800; letter-spacing: 1.5px; margin: 5px 0px 0px; }
section.grid > .inner > ul > li p { font-size: 16px; font-weight: 300; line-height: 1.5em; color: rgb(17, 17, 17); }
.grid.related { margin-top: 0px; }
.grid.related > .inner { max-width: 900px; margin: 0px auto; }
.grid.related > .inner h2.title { display: inline-block; min-width: 240px; background: transparent url('highlight-yellow-lrg-2x.png') no-repeat scroll right center / cover ; transform: translateX(-30px); padding: 5px 30px; }
.grid.related > .inner ul .item { width: 100%; }
section.solutions-list > .inner form.categories .filter::after { content: " "; height: 0px; width: 0px; display: block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(255, 255, 255); pointer-events: none; }
section.solutions-list > .inner .list li .media::after { display: none ! important; }
body.article .site-main > .inner .main-top { height: 420px; background: rgb(115, 0, 255) url('hero-video-2x.png') no-repeat scroll right bottom / 510px auto; }
section.article > .inner article { background: rgba(255, 255, 255, 0.98) none repeat scroll 0% 0%; max-width: 860px; padding: 2% 8%; margin: -340px auto 60px; }
section.article > .inner article .social { margin-top: 30px; }
section.article > .inner article .social ul { list-style: outside none none; margin: 0px; padding: 0px; display: flex; flex-flow: row wrap; }
section.article > .inner article .social ul li { display: inline-block; list-style: outside none none; margin: 0px; padding: 0px; }
section.article > .inner article .social ul li a { display: block; width: 35px; background: rgb(240, 241, 243) none repeat scroll 0% 0%; }
section.article > .inner article header { margin-bottom: 30px; }
section.article > .inner article header h1 { color: rgb(64, 0, 144); font-weight: 200; }
section.article > .inner article header p { color: rgb(109, 117, 136); font-size: 13px; }
section.article > .inner article main { font-size: 15px; line-height: 1.5; }
section.article > .inner article main strong { color: rgb(64, 0, 144); }
section.article > .inner article footer .pager li a::before, section.article > .inner article footer .pager li a::after { position: absolute; font-size: 50px; top: 50%; transform: translateY(-56%); }
section.article > .inner article footer .pager .prev a::before { content: "‹"; left: 0px; }
section.article > .inner article footer .pager .next a::after { content: "›"; right: 0px; }
/* ::::: https://advertising.yahoo.com/modules/system/system.base.css?ohgxhu ::::: */

.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
/* ::::: https://advertising.yahoo.com/modules/system/system.messages.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/modules/system/system.theme.css?ohgxhu ::::: */

form { margin: 0px; padding: 0px; }
img { border: 0px none; }
table { border-collapse: collapse; }
tbody { border-top: 1px solid rgb(204, 204, 204); }
/* ::::: https://advertising.yahoo.com/modules/comment/comment.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/sites/all/modules/date/date_api/date.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/modules/field/theme/field.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/modules/node/node.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/modules/search/search.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/modules/user/user.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/sites/all/modules/views/css/views.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/sites/all/modules/ckeditor/css/ckeditor.css?ohgxhu ::::: */

/* ::::: https://advertising.yahoo.com/sites/all/modules/ctools/css/ctools.css?ohgxhu ::::: */

/* ::::: https://s.yimg.com/ge/ayc/dr/css/v1/ayc_custom_v9_min.css ::::: */

div.main > div.main > div.inner > section.grid > .inner > ul li:nth-child(4n+2) { margin: 0px 0.5% 0px 1%; }
div.main > div.main > div.inner > section.grid > .inner > ul li:nth-child(4n+3) { margin: 0px 1% 0px 0.5%; }
main > p.byline { color: rgb(109, 117, 136); font-size: 13px; }
@media screen and (min-width: 668px) {
}
@media screen and (min-width: 670px) {
}
@media screen and (min-width: 774px) {
}
/* ::::: https://s.yimg.com/os/stencil/3.0.1/desktop/styles-ltr.css ::::: */

[dir] { text-align: start; }
.StencilRoot [hidden], .StencilRoot audio:not([controls]) { display: none; height: 0px; }
.StencilRoot q::before, .StencilRoot q::after { content: none; }
.StencilRoot svg:not(:root) { overflow: hidden; }
.GridSpread::after { content: ""; display: inline-block; text-align: justify; width: 100%; }
.GridVCenter::before { content: ""; display: inline-block; vertical-align: middle; height: 100%; margin-left: -0.31em; }
colgroup:nth-of-type(1) { border-left: 0px none; }
.StripedOdd > li:nth-child(2n+1), .StripedOdd > tbody > tr:nth-child(2n+1), .StripedEven > li:nth-child(2n), .StripedEven > tbody tr:nth-child(2n), .Striped dt:nth-of-type(2n+1), .Striped dd:nth-of-type(2n+1) { background-color: rgb(250, 250, 252); }
.NavLinks a:link, .NavLinks a:visited { color: rgb(29, 29, 163); }
li.Selected.Bd-style::after { content: ""; position: absolute; bottom: 0px; left: 0px; right: 0px; z-index: 1; }
li.Selected.Bd-style::after { border-bottom: 4px solid rgb(110, 50, 157); }
.StencilRoot .Btn.Ta-j::after { content: ""; display: inline-block; width: 100%; }
.Btn-fb i::before { content: ""; position: absolute; right: 3px; left: 3px; bottom: 3px; }
.Btn-fb i::before { border-top: 4px solid rgba(255, 255, 255, 0.3); }
.Btn-t i::after, .Btn-y i::after, .Btn-fb i::after, .Btn-tumblr i::after { content: ""; position: absolute; right: 0px; top: 0px; bottom: 0px; }
.Btn-t i::after, .Btn-y i::after, .Btn-fb i::after, .Btn-tumblr i::after { border-right: 1px solid rgba(255, 255, 255, 0.2); border-left: 1px solid rgba(0, 0, 0, 0.2); }
.Btn-t.Mini i::after, .Btn-y.Mini i::after, .Btn-fb.Mini i::after, .Btn-tumblr.Mini i::after { display: none; }
.Arrow::before, .Arrow::after { content: ""; position: absolute; height: 0px; width: 0px; border-color: transparent; border-style: solid; border-width: 7px; }
.Arrow.North::before, .Arrow.North::after, .Arrow.South::before, .Arrow.South::after { left: 50%; margin-left: -7px; }
.Arrow.East::before, .Arrow.East::after, .Arrow.West::before, .Arrow.West::after { top: 50%; margin-top: -7px; }
.Arrow.NorthEast::before, .Arrow.NorthFarEast::before, .Arrow.NorthWest::before, .Arrow.NorthFarWest::before, .Arrow.North::before { bottom: 100%; border-top-width: 0px; }
.Arrow.NorthEast::before, .Arrow.NorthFarEast::before, .Arrow.NorthWest::before, .Arrow.NorthFarWest::before, .Arrow.North::before { border-bottom-color: rgb(217, 217, 217); }
.Arrow.NorthEast::after, .Arrow.NorthFarEast::after, .Arrow.NorthWest::after, .Arrow.NorthFarWest::after, .Arrow.North::after { bottom: 100%; margin-bottom: -1px; border-top-width: 0px; }
.Arrow.NorthEast::after, .Arrow.NorthFarEast::after, .Arrow.NorthWest::after, .Arrow.NorthFarWest::after, .Arrow.North::after { border-bottom-color: rgb(255, 255, 255); }
.Arrow.EastSouth::before, .Arrow.EastFarSouth::before, .Arrow.EastNorth::before, .Arrow.EastFarNorth::before, .Arrow.East::before { left: 100%; border-right-width: 0px; }
.Arrow.EastSouth::before, .Arrow.EastFarSouth::before, .Arrow.EastNorth::before, .Arrow.EastFarNorth::before, .Arrow.East::before { border-left-color: rgb(217, 217, 217); }
.Arrow.EastSouth::after, .Arrow.EastFarSouth::after, .Arrow.EastNorth::after, .Arrow.EastFarNorth::after, .Arrow.East::after { left: 100%; margin-left: -1px; border-right-width: 0px; }
.Arrow.EastSouth::after, .Arrow.EastFarSouth::after, .Arrow.EastNorth::after, .Arrow.EastFarNorth::after, .Arrow.East::after { border-left-color: rgb(255, 255, 255); }
.Arrow.SouthEast::before, .Arrow.SouthFarEast::before, .Arrow.SouthWest::before, .Arrow.SouthFarWest::before, .Arrow.South::before { top: 100%; border-bottom-width: 0px; }
.Arrow.SouthEast::before, .Arrow.SouthFarEast::before, .Arrow.SouthWest::before, .Arrow.SouthFarWest::before, .Arrow.South::before { border-top-color: rgb(217, 217, 217); }
.Arrow.SouthEast::after, .Arrow.SouthFarEast::after, .Arrow.SouthWest::after, .Arrow.SouthFarWest::after, .Arrow.South::after { top: 100%; margin-top: -1px; border-bottom-width: 0px; }
.Arrow.SouthEast::after, .Arrow.SouthFarEast::after, .Arrow.SouthWest::after, .Arrow.SouthFarWest::after, .Arrow.South::after { border-top-color: rgb(255, 255, 255); }
.Arrow.WestSouth::before, .Arrow.WestFarSouth::before, .Arrow.WestNorth::before, .Arrow.WestFarNorth::before, .Arrow.West::before { right: 100%; border-left-width: 0px; }
.Arrow.WestSouth::before, .Arrow.WestFarSouth::before, .Arrow.WestNorth::before, .Arrow.WestFarNorth::before, .Arrow.West::before { border-right-color: rgb(217, 217, 217); }
.Arrow.WestSouth::after, .Arrow.WestFarSouth::after, .Arrow.WestNorth::after, .Arrow.WestFarNorth::after, .Arrow.West::after { right: 100%; margin-right: -1px; border-left-width: 0px; }
.Arrow.WestSouth::after, .Arrow.WestFarSouth::after, .Arrow.WestNorth::after, .Arrow.WestFarNorth::after, .Arrow.West::after { border-right-color: rgb(255, 255, 255); }
.Arrow.NorthEast::before, .Arrow.NorthEast::after, .Arrow.SouthEast::before, .Arrow.SouthEast::after { margin-left: -7px; left: 75%; }
.Arrow.NorthFarEast::before, .Arrow.NorthFarEast::after, .Arrow.SouthFarEast::before, .Arrow.SouthFarEast::after { margin-left: -7px; right: 2px; left: auto; }
.Arrow.NorthWest::before, .Arrow.NorthWest::after, .Arrow.SouthWest::before, .Arrow.SouthWest::after { margin-left: -7px; left: 25%; }
.Arrow.NorthFarWest::before, .Arrow.NorthFarWest::after, .Arrow.SouthFarWest::before, .Arrow.SouthFarWest::after { margin-left: -7px; left: 10px; }
.Arrow.EastNorth::before, .Arrow.EastNorth::after, .Arrow.WestNorth::before, .Arrow.WestNorth::after { margin-top: -7px; top: 25%; }
.Arrow.EastSouth::before, .Arrow.EastSouth::after, .Arrow.WestSouth::before, .Arrow.WestSouth::after { margin-top: -7px; top: 75%; }
.Arrow.EastFarNorth::before, .Arrow.EastFarNorth::after, .Arrow.WestFarNorth::before, .Arrow.WestFarNorth::after { margin-top: 0px; top: 2px; }
.Arrow.EastFarSouth::before, .Arrow.EastFarSouth::after, .Arrow.WestFarSouth::before, .Arrow.WestFarSouth::after { margin-top: 0px; bottom: 2px; top: auto; }
.YLogoMY, .YLogoHP, .YLogo { display: block; overflow: hidden; text-indent: -20em; margin-right: 23px; }
.YLogoMY { width: 137px; height: 34px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.YLogoMY { background-size: 276px 34px; }
}
.yucs-trigger b { color: rgb(29, 29, 163); }
.yucs-trigger .Icon, .yucs-trigger .Ycon { color: rgb(50, 0, 127); }
#masterNav, #Eyebrow { background-color: rgb(45, 17, 82); }
#Eyebrow { margin-bottom: 13px; position: relative; z-index: 2; height: 22px; white-space: nowrap; }
#Eyebrow a:link, #Eyebrow a:visited {  }
#Eyebrow a:link, #Eyebrow a:visited { color: rgb(255, 255, 255); }
#UHSearchBox { border-color: rgb(206, 206, 214) ! important; }
#UHSearchBox:focus { border: 1px solid rgb(117, 144, 245) ! important; box-shadow: none ! important; }
#UHSearchBox { height: 34px; border-radius: 2px; font-size: 16px; padding-left: 5px; }
#UHSearchWeb, #UHSearchProperty { padding: 0px 1.1em; height: 32px ! important; line-height: 34px ! important; }
#UHSearchWeb, #UHSearchProperty { color: rgb(255, 255, 255); }
#UHSearchWeb { border-color: rgb(59, 46, 202); background: rgb(50, 97, 195) linear-gradient(to bottom, rgb(55, 117, 221) 0px, rgb(52, 85, 193) 100%) repeat scroll 0% 0%; box-shadow: 0px 1px 3px 0px rgba(92, 195, 244, 0.8) inset, 0px 0px 3px rgb(85, 85, 85); }
@media �screen {
}
.Arrow.arrowOnMail::before, .Arrow.arrowOnMail::after { left: 16px; }
.Arrow.arrowOnFb::before, .Arrow.arrowOnFb::after { left: 56px; }
.Arrow.arrowOnTwitter::before, .Arrow.arrowOnTwitter::after { left: 96px; }
.JsEnabled .SelectBoxSmall .SelectBox-Pick[data-icon-before]::before, .JsEnabled .SelectBoxSmall .SelectBox-Pick[data-icon-after]::after, .JsEnabled .SelectBoxInline .SelectBox-Pick[data-icon-before]::before, .JsEnabled .SelectBoxInline .SelectBox-Pick[data-icon-after]::after { line-height: 1.2; }
@media �screen {
}
.JsEnabled .SelectBoxPick[data-icon-before]::before, .JsEnabled .SelectBox-Pick[data-icon-before]::before { content: attr(data-icon-before); padding-right: 0.3em; }
.JsEnabled .SelectBoxPick[data-icon-after]::after, .JsEnabled .SelectBox-Pick[data-icon-after]::after { content: attr(data-icon-after); padding-left: 0.3em; }
@media �screen {
}
@media �screen {
}
@media �screen {
}
@media �screen {
}
.Actions .ActionTooltip::after { content: ""; position: absolute; left: 50%; top: 100%; margin-left: -6px; border-width: 6px; border-style: solid; border-color: transparent; }
.ActionSave .ActionTooltip::after { border-top-color: rgb(104, 69, 153); }
.ActionLike .ActionTooltip::after { border-top-color: rgb(80, 161, 158); }
.ActionDislike .ActionTooltip::after { border-top-color: rgb(242, 98, 85); }
#Stream .Actions::after { content: ""; position: absolute; display: none; top: 100%; right: -5px; border-style: solid; border-width: 0px 5px 6px; border-color: transparent transparent transparent rgb(51, 51, 51); }
#Stream > li:hover .Actions::after, #Stream > .RevealNested-on .Actions::after { display: block; }
@media �screen {
	#Stream > li:hover .Actions::after { display: none; }
}
@media �screen {
}
.Filmstrip li:not(.Selected) p { color: rgb(50, 79, 225); }
.Filmstrip .Divided-v > li::before, .Divided-v > div::before { bottom: -5px; border-left-color: rgb(228, 228, 236); }
.TabsArrowUp .Selected::before, .TabsArrowUp .Selected::after, .TabsArrowDown .Selected::before, .TabsArrowDown .Selected::after, .TabsArrowAbove .Selected::before, .TabsArrowAbove .Selected::after { content: ""; position: absolute; left: 50%; height: 0px; border-color: transparent; border-style: solid; border-width: 8px; margin-left: -8px; }
.TabsArrowDown .Selected::before { border-top-color: rgb(204, 204, 204); }
.TabsArrowDown .Selected::before, .TabsArrowDown .Selected::after { top: 100%; }
.TabsArrowUp .Selected::before, .TabsArrowAbove .Selected::before { border-bottom-color: rgb(204, 204, 204); }
.TabsArrowUp .Selected::before, .TabsArrowUp .Selected::after { bottom: 0px; }
.TabsArrowAbove .Selected::before, .TabsArrowAbove .Selected::after { bottom: 100%; }
.TabsArrowUp .Selected::after, .TabsArrowAbove .Selected::after { border-bottom-color: rgb(255, 255, 255); }
.TabsArrowDown .Selected::after { border-top-color: rgb(255, 255, 255); }
.TabsArrowDown .Selected::after { margin-top: -1px; }
.TabsArrowUp .Selected::after, .TabsArrowAbove .Selected::after { margin-bottom: -1px; }
.TabsArrowDown.NavTabs .Selected::after { margin-top: 0px; }
.TabsArrowDown.NavTabs .Selected::after { border-top-color: rgb(0, 136, 204) ! important; }
.FilterBar.TabsArrowDown .Selected::after { margin-top: 0px; }
.FilterBar.TabsArrowDown .Selected::before, .FilterBar.TabsArrowDown .Selected::after { top: -1px; }
.BottomBorderTag .Selected::after { background: rgb(80, 0, 149) none repeat scroll 0% 0%; content: " "; position: absolute; left: 0px; right: 0px; height: 5px; top: 100%; margin-top: -5px; }
@media �screen {
}
.Separator::after { content: ""; display: block; position: relative; top: 12px; }
.Separator::after { border-bottom: 1px solid rgb(217, 217, 217); }
.Cf::before, .Cf::after { content: " "; display: table; }
.Cf::after { clear: both; }
.Cf {  }
.Hidden, .IconText { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); padding: 0px ! important; border: 0px none ! important; height: 1px ! important; width: 1px ! important; overflow: hidden; }
.Ell::after { content: "."; font-size: 0px; visibility: hidden; display: inline-block; overflow: hidden; height: 0px; width: 0px; }
.Divided-v > li:first-child::before, .Divided-v > div:first-child::before { display: none; }
.Divided-v > li::before, .Divided-v > div::before { content: ""; position: absolute; left: 0px; top: 0px; bottom: 0px; }
.Divided-v > li::before, .Divided-v > div::before { border-left: 1px solid rgb(226, 226, 230); }
@media �screen {
}
@media �screen {
}
.RibbonStart::before, .RibbonEnd::before { content: ""; position: absolute; top: 100%; width: 0px; height: 0px; border-style: solid; border-color: transparent; }
.RibbonEnd::before { border-width: 5px 5px 0px 0px; right: 0px; }
.RibbonStart::before { border-width: 5px 0px 0px 5px; left: 0px; }
.RibbonGrey::before { border-top-color: rgb(69, 69, 69); }
.RibbonRed::before { border-top-color: rgb(198, 0, 0); }
a.LineClamp::after, a.LineClamp-2::after, a.LineClamp-3::after, a.LineClamp-4::after, a.LineClamp-5::after { content: "."; font-size: 0px; visibility: hidden; display: inline-block; overflow: hidden; height: 0px; width: 0px; }
#Stencil .W-100 { width: 100%; }
.Flip-h > :first-child, .Flip-v > :first-child { z-index: 1; }
.Flip-h > :last-child, .Flipped.Flip-h > :first-child { transform: rotateY(-180deg); }
.Flip-v > :last-child, .Flipped.Flip-v > :first-child { transform: rotateX(-180deg); }
.Flip-h.Flip > :first-child, .Flipped.Flip-h.Flip > :last-child { transform: rotateY(180deg); }
.Flip-h.Flip > :last-child, .Flipped.Flip-h > :last-child, .Flipped.Flip-h.Flip > :first-child { transform: rotateY(0deg); }
.Flip-v.Flip > :first-child, .Flipped.Flip-v.Flip > :last-child { transform: rotateX(180deg); }
.Flip-v.Flip > :last-child, .Flipped.Flip-v > :last-child, .Flipped.Flip-v.Flip > :first-child { transform: rotateX(0deg); }
@font-face {
	font-family: "uh";
	font-style: normal;
	font-weight: 400;
	src: url('uh.eot') format("embedded-opentype"), url('uh.woff2') format("woff2"), url('uh.woff') format("woff"), url('uh.ttf') format("truetype"), url('uh.svg') format("svg");
}
[class^="Ycon"], [class*=" Ycon"] { font-family: uh; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; }
#yucs-profile { padding-left: 0px ! important; }
.yucs-trigger .Icon, .yucs-trigger b { line-height: 22px ! important; height: 22px ! important; }
#UHSearchBox { border: 1px solid rgb(206, 206, 214) ! important; border-radius: 2px; height: 34px; }
#UHSearchBox:focus { border: 1px solid rgb(117, 144, 245) ! important; box-shadow: none ! important; }
#UHSearchWeb, #UHSearchProperty { height: 32px ! important; line-height: 34px ! important; }
#Stencil #UHSearchWeb, #Stencil #UHSearchProperty { height: 30px; box-sizing: content-box; min-width: 92px; padding-left: 14px; padding-right: 14px; }
#Stencil .UHCol1 { z-index: 150; }
body { margin-top: 0px ! important; }
.YLogoMY { background-repeat: no-repeat; background-image: url('yahoo_en-us_f_p_125x32.png'); width: 125px ! important; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.YLogoMY { background-image: url('yahoo_en-us_f_p_125x32_2x.png') ! important; background-size: 125px 32px ! important; }
}
#UHSearchWeb { font-size: 15px ! important; border-radius: 4px ! important; }
#UHSearchWeb, #UHSearchProperty { height: 30px; }
#UHSearchWeb, .Themable .ThemeReset #UHSearchWeb { background: rgb(55, 117, 221) none repeat scroll 0% 0%; border: 0px none; box-shadow: 0px 2px rgb(33, 72, 127); }
#Stencil body { padding-top: 85px; }
#Stencil #UH { width: 100%; top: 0px; height: 85px; position: absolute; }
.Sticky-on #UH { position: fixed ! important; }
